@media screen and (min-width: 54rem) {
    .t-fade-in {
        opacity: 0;
        transform: translateZ(0);
        backface-visibility: hidden;
        transition: transform .7s $ease-in-out-quad, opacity .7s $ease-in-out-quad;

        &.is-visible {
            opacity: 1;
        }
    }

    .t-translate-down {
        transform: translate3d(0, 15px, 0);
        transition: transform .7s $ease-in-out-quad, opacity .7s $ease-in-out-quad;
        backface-visibility: hidden;

        &.t-translate-full {
            overflow: hidden;
            transform: translate3d(0, 100%, 0);
            transition: transform 1.2s $ease-out-quint, opacity 1.2s $ease-out-quint;
        }

        &.t-scale {
            transform: translate3d(0, 15px, 0) scaleY(1.2);
            transform-origin: 0% 100%;
        }

        &.is-visible {
            transform: translate3d(0, 0, 0);
        }
    }
}
