.hero {
    &__img {
        width: 48%;
        position: relative;

        img {
            filter: grayscale(1);
        }

        &:after {
            content: '';
            background-color: rgba(0, 0, 0, 0.4);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }

    &__content {
        width: 50%;
        margin-left: 2em;

        @media screen and (max-width: 54rem) {
            width: 100%;
            margin-left: 0;
        }
    }
}