.grid-wrapper {
    &-title {
        margin: 32px 0;
    }

    .grid {
        .card {
            flex-direction: column;
            justify-content: space-between;
            
            .button {
                align-self: flex-start
            }
            
            .frame {
                overflow: hidden;

                img {
                    filter: grayscale(1);
                    transition: 0.8s cubic-bezier(0, 0, 0.71, 0.56);
                }
            }

            &-title {
                font-size: 18px;
                font-weight: 700;
            }

            &:hover {
                img {
                    filter: grayscale(0);
                }
            }
        }
    }
}