<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ site.shortDesc }}"/>
    {% include "partials/metas.njk" %}
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="preload" href="https://cdn.snipcart.com/themes/v3.0.10/default/snipcart.css" as="style" onload="this.onload=null;this.rel='stylesheet'"><noscript><link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.10/default/snipcart.css"></noscript>
    <link rel="preconnect" href="https://fonts.googleapis.com/css?family=Montserrat:600,700,900&display=swap" rel="stylesheet">
    <style>{% include "assets/css/main.min.css" %}</style>
</head>
<body {% if templateClass %} class="{{ templateClass }}"{% endif %}>
    {% include "partials/siteheader.njk" %}
    <main class="main"> 
        {% block content %}{% endblock %}
    </main>
    {% include "partials/sitefooter.njk" %}
</body>
</html>