---
title: Blog
templateClass: "blog"
---
{% extends "layouts/base.njk" %}

{% block content %}
    <section class="post-wrapper">
        <div class="inner">
            <ul>
                {% for post in collections.posts | reverse %}
                  <li class="postlist-item u-flex">
                    <a href="{{ post.url | url }}" class="postlist-link">{{ post.data.title }}</a>
                    <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
                  </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}