---
title: Home
templateClass: "home"
---
{% extends "layouts/base.njk" %}

{% block content %}
<section class="hero">
    <div class="inner u-flex">
        <div class="hero-content">
            <h1>Tea time, everywhere</h1>
            <h2>Find the best tea for your everyday needs and special times.</h2>
            <a href="/shop" class="button button--full">Discover all tea</a>
        </div>
    </div>
</section>
<section class="grid-wrapper">
    <div class="inner">
        <h3>Our last products :</h3>
        <div class="grid u-flex u-flex-wrap">
            {% for product in products.products %}
                {% if loop.index0 < 3 %}
                    <div class="card u-flex">
                        <a href="product/{{ product.url }}/index.html" class="no-underline">
                            <div class="frame">
                                <img src="{{ url }}{{ product.image }}" width="300" loading="auto">
                            </div>
                            <p class="card-title">{{ product.name }} - {{ product.price }} {{ product.currency }} / 100gr</p>
                        </a>
                        <button class="snipcart-add-item button"
                        data-item-id="{{ product.id }}"
                        data-item-price="{{ product.price }}"
                        data-item-url="{{ product.url }}"
                        data-item-description="{{ product.description }}"
                        data-item-image="{{ "/" | url }}{{ product.image }}"
                        data-item-name="{{ product.name }}">
                        Add to cart
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}