---
title: Home
templateClass: "home"
---
{% extends "layouts/base.njk" %}

{% block content %}
<div class="hero">
    <div class="inner u-flex">
        <div class="hero__img u-hide-sm">
            <div class="frame frame--1-by-1">
                <img src="https://i.pinimg.com/originals/d0/6b/94/d06b946ecc99162ecdafae8825e4053f.gif" alt="organizedneatly.tumblr">
            </div>
        </div>
        <div class="hero__content">
            <h1>Snipcart & Eleventy js demo</h1>
            <p>Since we are all locked inside, i wanted to give first, a cool demo, but also to share a great project that make me happy.</p>
            <p>The <a href="https://www.facebook.com/travellingathome/" target="_blank" rel="noopener">« travelling at home »</a> project exist for real. It is a virtual walk from Paris (France) to Hobart (Tasmania) throught Google Maps.</p>
            <p>17 232.8 km2 on the web done by two French artists, Cora Mashed and Julia Drouhin. There is some other great artists projects such as Olivier Hodasaya with is book <a href="">« Eclats d’amérique »</a> or <a href="">« 9-eyes »</a> by Jon Rafman.</p>
        </div>
    </div>
</div>
{% endblock %}