{% if site.navItems %}
    <nav aria-label="main-navigation">
        <ul role="menubar" class="u-flex menu">
            {% for item in site.navItems %}
                <li role="menuitem" class="menu__item">
                    <a href="{{item.url}}" class="no-underline">{{item.name}}</a>
                </li>
            {% endfor %}
            <li class="menu__item menu__item__button">
                <span class="snipcart-checkout button button--full">
                    <span><span class="u-hide-sm">Voir</span> mon panier</span>
                    (<span class="snipcart-items-count">0</span>)
                </span>
            </li>
        </ul>
    </nav>
{% endif %}