<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.snipcart.com/themes/v3.0.10/default/snipcart.js" id="snipcart" data-api-key="MThhMGNmNWUtYzg5Zi00NDFjLWJkOTQtZDRhMDBmN2IwOGRhNjM2NTcyMTYyOTExNTcwMjIw"></script>
    <script type="module">{% include "assets/scripts/main.min.js" %}</script>